.cardbookTreeClass {
	border-width: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	min-width: 150px !important;
	min-height: 150px !important;
}

.cardbookCardsTreeClass treechildren::-moz-tree-cell-text(Changed) {
	font-weight: bold;
}
